.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.hero {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 5fr 3fr;
  align-items: center;
  height: 100svh;
  padding-block: 9rem;
}
.svh-100 {
  height: 100svh;
}

.socialMedia {
  display: grid;
  margin-block: auto;
  grid-auto-flow: row;
}
.socialMediaWrapper {
  display: flex;
  align-items: center;
}

.avatar {
  position: relative;
  display: flex;
}
.box {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7b68ee;
  transform: skewX(10deg);
  border-radius: 0.3rem;
  z-index: 1;
}
.outline {
  position: relative;
  z-index: 2;
}
.outline::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: .3rem;
  background-color: transparent;
  transform: skewX(-10deg) scale(.9);
  border: 1px solid #000;
  top: 0;
  left: 0;
  z-index: 3;
}
.rightBox {
  content: "";
  width: 30%;
  height: 30%;
  background-color: orange;
  position: absolute;
  border-radius: 0.3rem;
  bottom: -4%;
  right: -11%;
  transform: skew(10deg);
  z-index: -1;
}
.leftBox {
  content: "";
  width: 30%;
  height: 30%;
  background-color: orange;
  position: absolute;
  border-radius: 0.3rem;
  top: -4%;
  left: -11%;
  transform: skew(10deg);
  z-index: -1;
}
.miniLeftBox {
  content: "";
  width: 3%;
  height: 3%;
  background-color: rgba(255, 166, 0, 0.5);
  position: absolute;
  border-radius: 0.2rem;
  top: 70%;
  left: -15%;
  transform: skew(10deg);
  z-index: -1;
}
.miniRightBox {
  content: "";
  width: 3%;
  height: 3%;
  background-color: rgba(124, 104, 238, 0.5);
  position: absolute;
  border-radius: 0.2rem;
  top: 30%;
  right: -15%;
  transform: skew(10deg);
  z-index: -1;
}
.title {
  font-size: 3rem;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.titleWrapper p {
  color: #ababab;
  font-size: smaller;
}
.btnFuncy {
  color: #fff;
  padding-inline: 1rem;
  padding-block: 1.2rem;
  background-color: var(--primary-color);
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0 0 0 1px #fff;
  font-size: 1rem;
  transition: box-shadow 0.3s ease-in-out;
}
.btnFuncy:hover {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 0 5px #fff;
}
.services {
  width: 80%;
  margin-inline: auto;
  max-height: 300px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 2fr;
  position: relative;
  gap: 3rem;
}
.services::after {
  position: absolute;
  content: "";
  background-image: radial-gradient(
    var(--primary-color) 1px,
    rgba(255, 255, 255, 0) 1px
  );
  background-size: 10px 10px;
  width: 140px;
  height: 140px;
  translate: 50% 50%;
  bottom: 50%;
  left: -15%;
  z-index: -1;
}

.serviceWrapper {
  display: flex;
  gap: 1rem;
}

.serviceWrapper > li {
  padding-inline: 1.5rem;
  padding-block: 1.3rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  grid-auto-flow: row;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 3fr;
}

.listServices {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.listServices li::before {
  content: "✅ ";
}
.serviceWrapper h3 {
  width: 10px;
}
.thirdPart {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: space-between;
}
.subTitle {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 0.7rem;
  font-weight: bold;
}
.mainTitle {
  text-transform: capitalize;
  line-height: 2rem;
}
.thirdPart span {
  font-size: 0.8rem;
  color: #9b9b9b;
} 

.columns {
  display: flex;
  flex-direction: row;
  gap: 110px;
}



.shape {
  position: absolute;
  top: 0;
  z-index: -1;
}

.shape::before {
  content: " ";
  width: 300px;
  height: 400px;
  border-radius: 0.5rem;
  position: absolute;
  background-color: #7b68ee;
  top: 0;
  left: 0;
  z-index: 1;
  transform: skewX(-10deg);
  overflow: hidden;
}

pre {
  font-family: var(--bs-font-monospace) !important;
}